version: '3.9'

services:
  # Base de datos PostgreSQL
  postgres:
    image: postgres:16-alpine
    container_name: saas_postgres
    environment:
      POSTGRES_DB: saas_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: adminpassword
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - saas_network

  # Cache Redis
  redis:
    image: redis:7-alpine
    container_name: saas_redis
    ports:
      - "6379:6379"
    networks:
      - saas_network

networks:
  saas_network:
    driver: bridge

volumes:
  postgres_data:
